.App {
}

.App-logo {
  animation: App-logo-spin infinite 20s linear;
  height: 80px;
}

.App-header {
  background-color: #222;
  height: 2.5rem;
  padding: 1rem;
  color: white;
  box-shadow: 5px 10px 50px #777;
}

.App-intro {
  font-size: large;
}

.App-bar {
  display: block;
  text-align: center;  
}

.App-welcome{
  text-align: center;  
}

.App-header:hover + .App-bar {
	display: block;
}

.App-logo {
  height: 3rem;
  position: relative;
  float: left;
}

.App-submit{
  background-color: #3377bb;
  border: 2px solid #3377bb;
  color:white;
  font-weight: bolder;
  width: 2rem;
  height: auto;
}

.App-img{
  margin: 2rem;
}

.App-link{
  color: blue;
  text-decoration: underline;
}

.App-results{
  width: 100%;
}

.App-text{
  text-align: justify;
  padding: 0 4rem;
}