.App {
  margin: 2rem 4rem;
}
.App-about {
  margin: 4rem 4rem;
}
.App-about p{
  margin: 2rem 4rem;
}

.App-logo {
  animation: App-logo-spin infinite 20s linear;
  height: 80px;
}

.App-header {
  background-color: #222;
  height: 2.5rem;
  padding: 1rem;
  color: white;
  box-shadow: 5px 10px 50px #777;
  display: flex;
  align-content: row;
  justify-content: space-around
}

.App-intro {
  font-size: large;
}

.App-bar {
  text-align: center;  
}

.App-welcome{  
  display: flex;
  justify-content: space-around;
}

.App-logo {
  height: 3rem;
  position: relative;
  float: left;
}

.App-submit{
  background-color: #3377bb;
  border: 2px solid #3377bb;
  color:white;
  font-weight: bolder;
  width: 2rem;
  height: auto;
}

.App-imgWrapper{
  height: 100%;
  display: flex;
  flex-direction: column;
  width: 15rem;
}

.App-img{
  height: 10rem;
  width: auto;
  margin: 1rem;
}

.App-link{
  color: blue;
  text-decoration: underline;
}

.App-results{
  width: 100%;
}

.App-text{
  text-align: justify;
  padding: 0 4rem;
  width: 40rem;
}

.App-text h1{
  border-bottom: 1px solid #777;
  padding: 1rem;
}

.App-link{
  margin-top: 1rem; 
}